<div class="login">
    <div>社員番号とパスワードを入力してください</div>

      <% if @error_message %>
        <div class="login-form-error">
          <%= @error_message %>
        </div>
      <% end %>

      <%= form_tag("/login") do%>
      <div class="login-container">
      	<div class="login-content">
          <span>社員番号　　</span>
          <input name="enum" value="<%= @enum %>">
        </div>
        <div class="login-content">
          <span>パスワード　</span>
          <input type="password" name="password">
        </div>
        <div class="login-content">
          <input type="submit" value="ログイン">
        </div>
      </div>
      <% end %>
  </div>

