/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
    height: 100px;
    border-bottom: solid 10px green;
    margin: 0px auto;
    width: 1150px;
}

.header-logo {
  float: left;
  padding: 10px;
}

.header-right{
    float: right;
    padding: 25px 15px 15px;
}

.shamei-img {
  height: auto;
  max-width: 200px;
  padding-top: 20px;
}


* table {
  border-collapse: collapse;
}

table th, table td {
  padding: 5px;
  border: solid 1px black;
}

/* フッター */
footer{
    height: 100px;
    text-align: center;
    border-top: solid 10px green;
    margin: 0px auto;
    width: 1150px;
    margin-top: 50px;
}





/* リンク */
 .link{
  display: flex;
  margin: 0px auto;
  width: 1150px;
}

.link_content{
  margin: 10px;
}

/* body */
body{
  margin: 0px auto;
  width: 1150px;
}