/* ログイン共通 */
.login-container {
}

.login-form-error {
	color: red;
	margin: 20px 15px;
}

.login-content {
	margin: 20px 15px;
}



/* 明細画面 */
.conteiner {
    margin: 0px auto;
	border: solid 0.5px black;
	width: 1000px;
	padding: 50px;
}
.qyo-content{
    margin: 0px auto;
    width: 900px;
}
.qyo-content p {
	font-size: 18px;
}
.qyo-content-form {
	float: left;
}
.qyo-content-form-date {
	font-size: 18px;
	text-align: right;
}
.qyo-t-form{
  font-size: 14px;
}
.qyo-t-form tr th, .qyo-t-form tr td {
	width: 100px;
}
.qyo-t-form tr th {
	background-color: #DDFFFF;
}
.qyo-t-form tr td {
	height: 30px;
	text-align: right;
}
#emform tr td {
	text-align: center;
}
.qyo-show-title {
	font-size: 36px;
	text-align: center;
	padding-bottom: 30px;
}